.taskComponent {
    max-width: 350px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding: .3rem;

    margin-bottom: 1rem;
}

.taskComponent h3 {
    color: #4d4d4d;
    font-weight: 300;
    letter-spacing: .7px;
    white-space: pre-wrap;
    word-wrap: break-word;
    text-transform: capitalize;
}