.todoForm Form {
    display: flex;
    position: relative;

    margin-bottom: 2rem;
}

.submitButton {
    padding: 1.15rem 2rem;
    border: 0;
    border-radius: 10px;

    position: absolute;
    right: -115px;
    color: #4d4d4d;
    font-family: Bahnschrift, sans-serif;
    font-size: .8rem;
    font-weight: 400;
    cursor: pointer;

    transform: scale(1);
    transition: transform .3s linear;
}

.submitButton:hover {
    transform: scale(1.05);
}